body {
  background: #fff;
}

header {
  background: #323232;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: inline-block;
    min-width: 13%;
  }
  div {
    display: flex;
    justify-content: center;
  }
  a {
    color: #fff;
    font-weight: 700;
    font-family: Lato;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: #2eb398;
    }
  }
}

.triangle {
  display: flex;
  justify-content: center;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #323232;
}

#portfolio {
  padding: 7%;
}


#about {
  background-color: #2eb398;
  padding: 3% 7%;
  > div {
    padding:3%;
    border: 1px solid darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      padding: 0 2%;
    }
  }
}

#get {
  background-color: #323232;
  padding:3% 7%;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}