* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(123, 158, 158);
}
#hexGrid {
  display:flex;
flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}
.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}
.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}
/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}
/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(0n+1){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
  .hex:nth-child(0n+10){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    margin-right: 0%;
  }
.Illustrator {
font-size: 22px;
}
.smith {
font-size: 34px;
}
.lorem {
margin: auto;
width: auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.icon {
float: right;
}
button {
float: right;
margin-right: 18px;
}
input,
textarea {
width: 95%
}
.purus {
width: 287px;
font-size: 14px;
}
}
@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
#hexGrid{
padding-bottom: 5.5%
}
.hex {
width: 25%; /* = 100 / 4 */
}
.hex:nth-child(7n+5){ /* first hexagon of even rows */
margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
}
.Illustrator {
font-size: 20px;
}
.smith {
font-size: 30px;
}
.lorem {
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.purus{
width: 287px;
font-size: 14px;
}
.dvig-icon{
display: flex;
}
.line, .line1, .line2, .line3, .line4{
display: none;
}
.send1{
 margin-top: -280px;
  position: relative;
top: 150px;
 left: -160px;
}
#get{
  height: 450px;
}

.name1{
 
   width: 241px;
}





}
@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
#hexGrid{
padding-bottom: 7.4%
}
.hex {
width: 33.333%; /* = 100 / 3 */
}
.hex:nth-child(5n+4){ /* first hexagon of even rows */
margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
}
.line, .line1, .line2, .line3, .line4{
display: none;
}
.Illustrator {
font-size: 20px;
position: relative;
top: 17px;
}
.smith {
font-size: 30px;
position: relative;
top: 26px;
}
.lorem {
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.purus{
width: 287px;
font-size: 14px;
}
.dvig-icon{
display: flex;
}
.line, .line1, .line2, .line3, .line4{
display: none;
}
.gett{
  margin-left: 400px;
}
.order{
  margin-left: 290px;
}
.name{
  margin-left: 350px;
}
.name1{
  margin-left: 350px;
  width: 241px;
}
.send1{
 margin-top: -280px;
position: relative;
top: 150px;
 left: -102px;
}
#get{
  height: 450px;
}
.purus-dvig{
  
  text-align: center;
  position: relative;

 left: -130px;
}
header a{
  font-size: 80%;
}
}
@media (max-width: 600px) { /* <- 2-1  hexagons per row */
#hexGrid{
padding-bottom: 11.2%
}
.hex {
width: 50%; /* = 100 / 3 */
}
.hex:nth-child(3n+3){ /* first hexagon of even rows */
margin-left:25%;  /* = width of .hex / 2  to indent even rows */
}
.Illustrator {
font-size: 28px;
margin-left: 75px;
margin-top: -20px;
}
.smith {
position: absolute;
margin-left: 90px;

}
.lorem {
font-size: 18px;
display: flex;
width::10%;
text-align: center;
}
.purus {
width: 287px;
font-size: 14px;
}
.dvig-icon{
top: 2050px;
right: 140px;
position: absolute;
}
.line, .line1, .line2, .line3, .line4{
display: none;
}
.f{
margin-left: 120px;
margin-top: -290px;
}
#about{
height: 550px; 
}
.c{
margin-top: 300px;
margin-left: -300px;
}
.gett{
  margin-left: -290px;
  margin-top: -310px;
font-size: 70px;
width: 350%;
}
.order{
  margin-left: -295px;
  
}
.name{
  margin-left: -230px;
}
.name1{
  margin-left: -230px;
  width: 241px;
}
.purus-dvig{
  margin-left: -550px;
  margin-top: 600px;
  text-align: center;
  position: relative;

 left: 180px;
}
.send1{
 margin-top: -260px;
  position: relative;

 left: 365px;
}
header a{
  font-size: 70%;
}
}
@media (max-width: 400px) {
#hexGrid {
font-size: 13px;
}
.line, .line1, .line2, .line3, .line4{
display: none;
}
}










